:root {
    --btn-toggle-color: #000000A6;
    --btn-toggle-hover-color: #000000;
    /* --btn-toggle-hover-bg: #d2f4ea; */
    --btn-toggle-active-color: #000000;
    --btn-toggle-nav-active-bg: #dee2e6;
    --btn-toggle-nav-hover-bg: #d2f4ea;
}

:root[data-bs-theme="dark"] {
    --btn-toggle-color: #A0A0A0;
    /* رمادي فاتح للوضع الداكن */
    --btn-toggle-hover-color: #FFFFFF;
    /* أبيض للوضع الداكن */
    --btn-toggle-hover-bg: #3A3A3A;
    /* رمادي داكن للوضع الداكن */
    --btn-toggle-active-color: #FFFFFF;
    /* أبيض للوضع الداكن */
    --btn-toggle-nav-active-bg: #505050;
    /* رمادي داكن للوضع الداكن */
    --btn-toggle-nav-hover-bg: #3A3A3A;
    /* رمادي داكن للوضع الداكن */
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--btn-toggle-color);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: var(--btn-toggle-hover-color);
    background-color: var(--btn-toggle-hover-bg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: "\f285";
    /* \f285: <i class="bi bi-chevron-right"></i> */
    font-family: "bootstrap-icons";
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    background-color: var(--btn-toggle-hover-bg);
    /* color: var(--btn-toggle-active-color); */
}

.btn-toggle[aria-expanded="true"]::before {
    content: "\f282";
    /* \f282: <i class="bi bi-chevron-down"></i> */
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav li.active>a {
    background-color: var(--btn-toggle-nav-active-bg);
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--btn-toggle-nav-hover-bg);
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}
