:root {
    --btn-toggle-color: #000000A6;
    --btn-toggle-hover-color: #000000;
    --btn-toggle-hover-bg: #d2f4ea;
    --btn-toggle-active-color: #000000;
    --btn-toggle-nav-active-bg: #dee2e6;
    --btn-toggle-nav-hover-bg: #d2f4ea;
}

:root[data-bs-theme="dark"] {}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--btn-toggle-color);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: var(--btn-toggle-hover-color);
    background-color: var(--btn-toggle-hover-bg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    /* content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e"); */
    content: ">";
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    background-color: var(--btn-toggle-hover-bg);
    /* color: var(--btn-toggle-active-color); */
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav li.active>a {
    background-color: var(--btn-toggle-nav-active-bg);
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--btn-toggle-nav-hover-bg);
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}
