
# app env one of development/production/testing
APP_ENV=development

# database informations
DB_HOST_TOOLS=localhost:3306
DB_NAME=mdwiki_db
DB_NAME_NEW=mdwiki_db_new
TOOL_TOOLSDB_USER=root
TOOL_TOOLSDB_PASSWORD=root

# OAuth keys

# Security keys
COOKIE_KEY=your_cookie_key_here
DECRYPT_KEY=your_jwt_key_here
JWT_KEY=your_jwt_key_here

# paths keys
JSON_TABLES_PATH=I:/MD_TOOLS/MDWIKI_MAIN_REPO/public_html/td/Tables
