*.csv
*/old/**
.gitignore
cookie.txt
ma.js
old/*
tests/**
ui.html
vendor/**
coordinator_1.php
*.html
coordinator/admin/wikirefs_options/postx.php
/login
/auth/u.php
*.7z
/Tables/jsons/*.json
/Tables/cash_exists/*.json
/Tables/cats_cash/*.json
/vendor_o
enwiki/.vscode/launch.json
/‏‏vendor - نسخة
composer.lock1
composer.json1
auth/x.php
actions/mdwiki_api copy.php
