*.csv
*/old/**
.gitignore
cookie.txt
ma.js
old/*
tests/**
ui.html
vendor/**
coordinator_1.php
*.html
coordinator/admin/wikirefs_options/postx.php
/login
/auth/u.php
*.7z
/Tables/cash_exists/*.json
/Tables/cats_cash/*.json
/vendor_o
enwiki/.vscode/launch.json
/‏‏vendor - نسخة
composer.lock1
composer.json1
auth/x.php
actions/mdwiki_api copy.php
translate/fixes/test/new.txt
/translate/fixes/test
publish/test_add_to_db.php
publish/test_text_fix.php
/publish/to_do
publish/editit.json
publish/all_pages_revids.json
/publishxx
td.sql
/g
/Tables/jsons/*.json
!Tables/jsons/langs_tables.json
coordinator.zip
/files
