html {
    height: 100%;
}
body {
    min-height: 100%; position: relative; padding-right: 15px; padding-left: 15px;
}
#body {
    padding: 12px 12px 95px;
}

thpp {
    background-image: url(sort_both.svg); cursor: pointer; background-repeat: no-repeat; background-position: right; padding-left: 10px;
}

table.sortable th { 
    cursor: pointer;white-space: nowrap;border-top: 0;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: url(sort_both.svg);
}

.app-header .navbar {
    background: url(/gradient.png); border-bottom: solid 2px #ccc; margin-bottom: 10px; text-align: left;
}

.navbar-brande {
    float: left; height: 50px; color: #337ab7; padding: 15px 15px; font-size: 18px; line-height: 20px;
}
input[type=text] {
    padding: 5px;
    box-shadow: inset 0 0 5px #eee;
    border: 1px solid #eee;
    }

input[type=submit] {
    background: #eee;margin-left: 85px;
    cursor: pointer;
    border: 1px solid #aaa;
    font-size: 14px;
    }
	
.inputsubmit {
    padding: 5px 20px;
    background: #eee;margin-left: 85px;
    cursor: pointer;
    border: 1px solid #aaa;
    font-size: 12px;
    }

.btn-block { display: block;width: 100%;}
.w3-button{
    border:none; display:inline-block; padding:8px 16px; vertical-align:middle; overflow:hidden; text-decoration:none; color:inherit; background-color:inherit; text-align:center; cursor:pointer; white-space:nowrap
    }
.w3-round-large{
    border-radius:8px
    }
.w3-blue{
    color:#fff!important; background-color:#2196F3!important
    }
.w3-red{
    color:#fff!important; background-color:#f44336!important
    }

.form-inline label {
    display:inline;
}

.cen {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gaga{
    font-size: 2vw;
    height: 10vh;
    width: 10vw;
    padding: 2vh;
    border: .25vh solid skyblue;
    background-color: rgb(192, 230, 245);
    color: black;
    text-decoration:none
}
.alignleft{text-align:left; vertical-align: middle}
.alignright{text-align:right; vertical-align: middle}
.aligncenter{text-align:center; vertical-align: middle}

.app-footer {
    background: url(/gradient.png);
    border-top: solid 2px #ccc;
    bottom: 0;
    left: 0;
    margin-top: 30px;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}
/* Import the fonts */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
       url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.glyphicon-log-in:before{
	content:"\e161";
}
.glyphicon-log-out:before {
    content: "\e163";
}
:after, :before {
    box-sizing: border-box;
}